{{#if resume.languages.length}}
<section class="section margin1">
  <header>
    <h2 class='section-title'>Languages</h2>
  </header>
  <section id="languages">
    {{#each resume.languages}}
    <div class="display">
      {{#if language}}
      <h3 class="language">
        {{language}}
      </h3>
      {{/if}}
      <div class="item">
        {{#if fluency}}
        <div class="level fluency {{toLowerCase fluency}}">
          <em>{{fluency}}</em>
          <div class="bar"></div>
        </div>
        {{/if}}
      </div>
    </div>
    {{/each}}
  </section>
</section>
{{/if}}