<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="./override.css">
    <style>
      {{{css}}}
    </style>
  </head>
  <body>
    <div id="resume">
      {{> basics }}
      {{> skills }}
      {{> work }}
      {{> projects }}
      {{> volunteer }}
      {{> education }}
      {{> awards }}
      {{> certificates }}
      {{> publications }}
      {{> languages }}
      {{> interests }}
      {{> references }}
    </div>
  </body>
</html>
