/* Header: name, contact, profiles */

#header {
  margin-bottom: 1rem;
}

#header > #profiles,
#header > #contact {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

#header > div {
  line-height: 1.5;
}

#header > div > div {
  margin-right: 1.2em;
}

#header h1.name {
  font-size: 2.8rem;
  font-weight: 100;
  line-height: 100%;
}

#header h2.label {
  color: var(--color-heading);
  font-size: 1.47rem;
  font-weight: 300;
}

#header .image {
  width: 11em;
  float: right;
  border-radius: 4px;
}

#contact {
  margin-top: 0.5rem;
}

#profiles .item {
  padding: 0;
  margin-right: 0.8em;
}

.fa {
  margin-right: 0.25em;
}

.fa.social {
  font-size: 1.1em;
}

/* Social Media Brand Colors */

.google-plus {
  color: #dd4b39;
}

.tumblr {
  color: #32506d;
}

.foursquare {
  color: #0072b1;
}

.facebook {
  color: #3b5998;
}

.linkedin {
  color: #007bb6;
}

.pinterest {
  color: #cb2027;
}

.dribbble {
  color: #ea4c89;
}

.instagram {
  color: #517fa4;
}

.twitter {
  color: #00aced;
}

.soundcloud {
  color: #ff3a00;
}

.wordpress {
  color: #21759b;
}

.youtube {
  color: #bb0000;
}

.github {
  color: #171515;
}

.stack-overflow {
  color: #828386;
  position: relative;
}

.flickr {
  color: #ff0084;
}

.reddit {
  color: #ff4500;
}

.hacker-news {
  color: #ff6600;
}

.stack-overflow::after {
  position: absolute;
  left: 0;
  content: "\f16c";
  color: #f68a1f;
  overflow: hidden;
  height: 100%;
}

.telegram {
  color: #2291c3;
}
