/* Language cards with fluency bars */

#languages {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

#languages .item {
  width: 15em;
  padding: 0 0.5em 0.5em 0;
  border-bottom: none;
}

#interests {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

#interests .item {
  width: 15em;
  padding: 0 0.5em 0.5em 0;
  border-bottom: none;
}
