@media print {
  #profiles a:not(.hide-href-print)::after{
    content: " (" attr(href) ") ";
  }
  #profiles .url .show-only-url-print {
    display: none;
  }
  #profiles .url a::after {
    content: attr(href);
  }
  #resume {
    margin: 0.1em;
    padding: 0.1em;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    line-height: 1.25;
  }
  @page {
    margin: 1cm 1.4cm;
  }
  .item-count {
    display: none;
  }
  .company a {
    color: #40484f;
  }
  .company::before,
  .institution::before,
  .organization::before,
  .awarder::before {
    content: "at ";
  }
  .main-summary {
    padding: 0;
    background: transparent;
  }
  .section {
    margin: 0.8rem 0;
    padding: 0;
  }
  .section header {
    padding-bottom: 0.15rem;
  }
  .section .location {
    padding-bottom: 0.15rem;
  }
  .section > section > section {
    border-bottom: 1px solid #fdfdfd;
    margin: .5em 0;
  }
  .section > section > section:last-of-type {
    margin: 0;
  }
  .stack-overflow::after {
    content: "";
  }
  .fa.social {
    color: #828386;
  }
  ul {
    margin-top: 0.4em;
  }
  ul,
  li {
    padding: 0;
  }
  ul.keywords li,
  ul.courses li {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    background: transparent;
  }
  ul.keywords li::after,
  ul.courses li::after {
    padding: 0 0 0 0.1rem;
    content: ", ";
  }
  ul.keywords::before,
  ul.courses::before {
    font-size: 0.8rem;
    font-weight: 600;
  }
  #skills .item {
    display: flex;
    flex-direction: column;
    margin: 0.3rem 0;
    padding: 0;
  }
  #skills .level {
    margin: 0.1rem 0;
    font-weight: 400;
  }
  #skills .keywords {
    font-size: 0.9rem;
    margin: 0;
  }
  .highlights {
    margin: 0.5em 0 0 0;
  }
  .highlights > li > p {
    margin-bottom: 0.3em;
  }
  ul.keywords::before {
    content: "Skills: ";
    font-size: 1rem;
  }
  #skills .keywords::before {
    content: none;
  }
  .section p {
    margin: 0;
    padding: 0;
  }
  ul.courses::before {
    content: "Major courses: ";
    font-size: 1rem;
  }
  ul.keywords li,
  ul.courses li {
    font-size: 1rem;
    line-height: inherit;
  }
  ul.keywords li:last-of-type::after,
  ul.courses li:last-of-type::after {
    content: "";
  }
  .level em {
    font-style: normal;
    padding: 0.1em 0;
  }
  .level .bar {
    display: none;
  }
  #profiles .item {
    padding: 0;
  }
  .item.display {
    display: block;
    opacity: 1 !important;
  }
  .fa-location-dot:before {
    padding-left: 0.1em;
  }
}
