/* Skill cards, level bars, keywords */

#skills {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

#skills .item {
  width: 16em;
  padding: 0 0.5em 0.5em 0;
  border-bottom: none;
}

#skills .item .keywords {
  width: 15em;
}

/* Skill chart */

.level {
  margin-bottom: 0.5em;
}

.level em {
  padding-left: 0.2em;
}

.level .bar {
  border: 1px solid var(--color-border-light);
  display: block;
  width: 10em;
  height: 5px;
  position: relative;
}

.level .bar::after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  background: black;
  height: 5px;
}

.level.beginner .bar::after {
  background: var(--color-bar-beginner);
  width: 2.5em;
}

.level.intermediate .bar::after {
  background: var(--color-bar-intermediate);
  width: 5em;
}

.level.advanced .bar::after,
.level.fluent .bar::after {
  background: var(--color-bar-advanced);
  width: 7.5em;
}

.level.master .bar::after,
.level.expert .bar::after,
.level.native.speaker .bar::after {
  background: var(--color-bar-master);
  width: 10em;
}
